*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
}
.container{
    background:linear-gradient(135deg,#153677, #4e085f);
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.todo-app{
    border: 1px solid;
    width: 100%;
    max-width: 540px;
    margin:100px auto 20px;
    background:#fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    gap: 10px;
    flex-wrap: wrap;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    min-width: 200px;
}
button{
    padding: 12px 30px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    white-space: nowrap;
}
ul,li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 25px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: -10px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(./images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    top: 5px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
    border-radius: 50%;
}
@media (max-width: 480px){
    .todo-app{
        margin: 50px 10px;
        padding: 25px 20px 40px;
    }
    .row{
        flex-direction: column;
        align-items: stretch;
        padding-left: 15px;
    }
    input{
        width: 100%;
    }
    button{
        width: 100%;
        border-radius: 20px;
    }
    ul li{
        font-size: 15px;
        padding-left: 35px;
    }
    ul li::before{
        left: 0;
    }
}
